div .imagemheader{
    border:black solid 0px;
    width:280px;
    height:224px; 
    margin-top: 15px;
    float: left;
}


#bold {
    color:#207ab3;
}


div .textheader{
    width:800px;
    height:100px;
    float: left;
    margin-top: 90px;
    border:black solid 0px;
    font-size: 22px;
    font-family: "Arial";
}

div .textheader p.textlow{
    font-size: 16px;
    font-family: "Arial";
}

nav {
    color: #207ab3;
    
}

