*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

main{
    display:flex;
    justify-content: center;
    align-content: center;

}

footer{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}