<main>
    <div class="card" style="margin: 15vh 10vw;">
        <div class="card-header">
            <h5>Cadastro de produto</h5>
        </div>
        <div class="card-body">
            <form method="POST" action="php/store_product.php" class="container-fluid" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="nome">Nome do Produto :</label>
                            <input type="text" class="form-control" id="nome" name="nome"
                                placeholder="Informe o nome o produto" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="imagem">Imagem do produto :</label>
                            <input type="file" class="form-control-file" id="imagem" name="imagem" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="descricao">Descrição do inicial:</label>
                            <textarea id="descricao" rows="3" name="descricao" class="form-control"
                                required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="detalhes">Detalhes:</label>
                            <textarea id="detalhes" rows="3" name="detalhes" class="form-control"
                                required></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between mt-2">
                    <button type="reset" class="btn btn-outline-secondary ml-2">Cancelar</button>
                    <button type="submit" class="btn btn-outline-primary mr-2">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</main>