<div class="card" style="margin:15vh 10vw;">
    <div class="card-header">
        <h5 class="card-title">Formulário de cadastro do usuário</h5>
    </div>
    <div class="card-body">
        <?php exibeError();?>
        <form action="php/cadastro.php" method="post">
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="username" class="col-label-form">Usuário </label>
                        <input type="text" name="username" id="username" class="form-control <?php errorClass(0);?>" required
                            placeholder="Digite nome de usuário">
                        <small class="form-text text-muted">
                            Deve conter no mínimo 8 caracteres,
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="pass" class="col-label-form">Senha </label>
                        <input type="password" name="senha" id="pass" class="form-control <?php errorClass(1);?>" required
                            placeholder="Digite a sua senha">
                        <small class="form-text text-muted">
                            Deve conter no mínimo 6 caracteres
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="confirmPass" class="col-label-form">Confirmação da senha </label>
                        <input type="password" name="cp" id="confirmPass" class="form-control <?php errorClass(2);?>" required
                            placeholder="Confirme a sua senha">
                        <small class="form-text text-muted">
                            Igual a senha digitada acima
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="email" class="col-label-form">Email </label>
                        <input type="email" name="email" id="email" class="form-control <?php errorClass(3);?>" required
                            placeholder="Digite seu email">
                        <small class="form-text text-muted">
                            Digite um email válido,exemplo@provedor.com
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="tel" class="col-label-form">Telefone </label>
                        <input type="tel" name="tel" id="tel" class="form-control <?php errorClass(4);?>" required
                            placeholder="Informe seu telefone">
                        <small class="form-text text-muted">
                            No formato : xxxxx-xxxx, com ou sem o traço
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="cep" class="col-label-form">CEP </label>
                        <input type="text" name="cep" id="cep" class="form-control <?php errorClass(5);?>" required
                            placeholder="Informe o seu cep">
                        <small class="form-text text-muted">
                            Digite um CEP válido, no formato xxxxx-xxx
                        </small>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                    <button type="reset" class="btn btn-outline-secondary ml-2">Cancelar</button>
                    <button type="submit" class="btn btn-outline-primary mr-2">Cadastrar</button>
                </div>
        </form>
    </div>
</div>
