<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" href="#" id="dropdown01" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img class="img-profile" src="https://api.adorable.io/avatars/40/<?=session_id();?>">
        <?=exibeNome();?>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a href="minhas_ofertas.php?pagina=1" class="dropdown-item">
            <i class="fa fa-tag"> Minhas ofertas</i>
        </a>
        <a class="dropdown-item" href="cadastro_produto.php">
            <i class="fa fa-shopping-cart"> Cadastrar produto</i>
        </a>
        <a href="avaliar_interesse.php?pagina=1" class="dropdown-item">
            <i class="fa fa-user-check"> Avaliar Interesse</i>
        </a>
        <a class="dropdown-item" href="avaliar_proposta.php">
            <i class="fa fa-check"> Avaliar Proposta</i>
        </a>
        <a class="dropdown-item" href="php/sair.php">
            <i class="fas fa-sign-out-alt"> Sair</i>
        </a>
    </div>
</li>

