<div class="card" width="18rem">
    <div class="card-header">
        <h5 class="card-title">Login</h5>
    </div>
    <div class="card-body">
        <form action="php/auth.php" method="post">
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="User">Usuário ou E-mail:</label>
                        <input type="text" name="user" id="User" class="form-control" placeholder="Digite o seu usuário"
                            required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" id="senha" placeholder="Digite sua senha"
                            class="form-control" required>
                    </div>
                </div>
            </div>
            <a href="./cadastro_user.php">Não possui cadastro? Clique aqui !</a>
            <hr>
            <div class="form-row justify-content-between">
                <a href="indexecoescambo.php" class="ml-2 mt-2 ">Voltar</a>
                <button type="submit" class="btn btn-outline-primary mr-2">Entrar</button>
            </div>
        </form>
    </div>
</div>