<main class="m-5">
    <div class="card">
        <div class="card-header">
            <h5>Produto tal </h5>
        </div>
        <div class="card-body">
           <div class="figure">
               <img src="img/img.png" alt="" class="figure-img img-fluid rounded">
           </div>
            <h5 class="card-title">Descrição do produto</h5>
            <p class="card-text">
                É um produto muito legal mas eu gostaria de troca essa bosta
            </p>

            <h5 class="card-title mt-2">Descrição da troca</h5>
            <p class="card-text">
                Gostaria de trocar esse produto por uma bola de gude
            </p>

            <hr>

            <button class="btn btn-outline-success">Confirmar troca</button>
            <button class="btn btn-outline-secondary ml-1">Cancelar</button>
        </div>
    </div>
</main>