<main>
    <div class="card ml-4">
        <img src="img/img.png" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Um produto para trocar</h5>
            <p class="card-text">Este é um produto disponível para troca que é muito legal</p>
            <button class="btn btn-outline-primary">Trocar</button>
        </div>

    </div>

    <div class="card">
        <img src="img/img.png" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Um produto para trocar</h5>
            <p class="card-text">Este é um produto disponível para troca que é muito legal</p>
            <button class="btn btn-outline-primary">Trocar</button>
        </div>

    </div>

    <div class="card mr-4">
        <img src="img/img.png" alt="" class="card-img-top ">
        <div class="card-body">
            <h5 class="card-title">Um produto para trocar</h5>
            <p class="card-text">Este é um produto disponível para troca que é muito legal</p>
            <button class="btn btn-outline-primary">Trocar</button>
        </div>

    </div>
</main>